{% extends 'base.html.twig' %}
{% block body %}
<br></br>
<table>
	<tbody>
			<tr>
				<td class="shrink"><b>Bestelordernummer</b></td>
				<td class="shrink"><b>Artikelnummer</b></td>
				<td class="shrink"><b>Omschrijving</b></td>
			</tr>

		{% for bestelling in bestelling %}
			<tr>
			<td>{{bestelling.Bestelordernummer}}</td>
			<td>{{bestelling.artikelnummer.artikelnummer}}</td>
			<td>{{bestelling.artikelnummer.omschrijving}}</td>
			</tr>

 		{% endfor %}
	</tbody>
</table>

</form>
{% endblock %}
