<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

<style>
.kleurrood {
  color:red;
}
.marge10{
  margin:10px;
}
.marge100{
  margin:100px;
}
.padding10{
  padding:10px;
}
.bordergroove{
border-style:groove;
}
</style>
