
{% include 'header.html.twig'%}
    <body>
         <div class="container"> 
       
        <div class="topnav">
{% if app.request.get('_route') == 'alleartikelen' %}
    <a href="{{ path('alleartikelen') }}" class="active">Alle artikelen</a>
{% else %}
    <a href="{{ path('alleartikelen') }}">Alle artikelen</a>   
{% endif %}
{% if app.request.get('_route') == 'allemagazijnlocatie' %}
    <a href="{{ path('allemagazijnlocatie') }}" class="active">Alle Magazijnlocaties</a>
{% else %}
    <a href="{{ path('allemagazijnlocatie') }}">Alle Magazijnlocaties</a>
{% endif %} 




  </div>
   

        {% block body %}{% endblock %}
        {% block javascripts %}
       
 {% endblock %}

      </div>
    </body>
      {% include 'footer.html.twig'%} 

