{% extends 'base.html.twig' %}
{% block body %}

<br></br>
<h1>Overzicht Bestellingen</h1>
<br></br>

<table>
	<tbody>
			<tr>
				<td class="shrink"><b>Bestelordernummer</b></td>
				<td class="shrink"><b>leverdatum</b></td>
				<td class="shrink"><b>Artikel toevoegen</b></td>
			</tr>

		{% for bestelformulier in bestelformulier %}
			<tr>
			<td><a href="{{ path('bestellingWeergeven',{'bestelordernummer':bestelformulier.bestelordernummer}) }}">{{ bestelformulier.Bestelordernummer }}</a></td>
			<td>{{ bestelformulier.Leverdatum|date('d-m-Y') }}</td>
			<td><a href="{{ path('bestelNieuwArtikel',{'bestelordernummer':bestelformulier.bestelordernummer}) }}">Artikel toevoegen</td></a>
			</tr>

 		{% endfor %}
	</tbody>
</table>

</form>
{% endblock %}
