{% extends 'base.html.twig' %}
{% block body %}
 <div>
   <br></br>
<form method="post" action="">
    {{ form_widget(form) }}
    <input class="btn btn-default" type="submit">
    <a href="{{ path('allemagazijnlocatie') }}">Annuleren</a>
</form>
</div>
{% endblock %}
