.btn {

background-color: red;
}
	
body{
background-color:red;

}

a {
	color:red;
}


.container{
	text-align: center;
  margin: 100px;

}
.topnav {
  overflow: hidden;
  background-color: black;


}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: white;
}

.topnav a.active {
    background-color: red;
    color: white;
}

.panel-footer{
  text-align: center;
}

.kleurrood {
  color:red;
}
.marge10{
  margin:10px;
}
.marge100{
  margin:100px;
}
.padding10{
  padding:10px;
}
.bordergroove{
border-style:groove;
}

