.btn {

background-color: red;
}

a {
	color:red;
}


.container{
	text-align: center;


}
.topnav {
  overflow: hidden;
  background-color: black;
  text-align: center;


}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: white;
}
.active{
  background-color: red;
}

.topnav a.active {
    background-color: red;
    color: white;
}

.panel-footer{
  text-align: center;
}

.bordergroove{
border-style:groove;
}

table {
    border: 1px solid green;
    border-collapse: collapse;
    width:100%;

}

table td {
    border: 1px solid green;
}

table td.shrink {
    white-space:nowrap;
}
table td.shrink1 {
    white-space:nowrap;
    width:10%;
}
table td.expand {
    width: 99%; 
}

li{
      list-style:none;
}
